@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-card-image .card.image-full:before{
border-radius: 0.5rem;;
opacity: 0.45;
}

body{
    background-color: rgb(71 85 105);
    height: 100%;
}
.color{background-color: rgb(71 85 105);}